@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  scroll-margin-top: 80px;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.vibrate-on-hover:hover {
  animation: vibrate 0.1s infinite;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}